.idea/
target/
project/project/

metals.sbt
/.metals
.bloop/
/.bsp
/.envrc
yarn.lock
.DS_Store

node_modules

lib/core/metadata.js
lib/core/MetadataBlog.js

website/translated_docs
website/build/
website/yarn.lock
website/node_modules
website/i18n/*
