[data-mdoc-js] {
  background-color: #ccffd7;
  padding: 20px 24px 20px 24px;
  margin-bottom: 32px;
  border-radius: 3px;
  position: relative;
}

[data-mdoc-js]::before {
  content: "Preview";
  color: hsl(0deg 0% 0%/33%);
  right: 5px;
  top: 2px;
  position: absolute;
  font-size: 12px;
}
