name: Website
on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: coursier/cache-action@v6
      - uses: olafurpg/setup-scala@v12

      - name: Deploy Website
        run: sbt docs/docusaurusPublishGhpages 
        env:
          GIT_DEPLOY_KEY: ${{ secrets.WEBSITE_GIT_DEPLOY_KEY }}

      # - name: Debug over SSH (tmate)
      #   # if: ${{ failure() }}
      #   uses: mxschmitt/action-tmate@v3
      #   with:
      #     limit-access-to-actor: true
